body {
  text-align: center;
  color: #000f08;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

.oscuro {
  background: #000f08;
  color: #ffffff;
}

.oscuro a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  padding: 50px;
}

.hero-section {
  text-align: right;
  background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 8em 3.125em 4em;
}

section, footer {
  margin-top: 80px;
}

.charla-speaker, .charla-texto, .evento {
  display: inline-block;
}

.centrado {
  margin: 0 auto;
  width: 75%;
}

.charla-speaker {
  width: 25%;
  vertical-align: middle;
}

.sweet-brown {
  text-align: left;
  background: #a4452c;
  color: #ffffff;
  padding: 100px;
  white-space: nowrap;
}

.charla-texto {
  width: 72.5%;
  vertical-align: middle;
  margin-left: 2.5%;
  white-space: normal;
}

nav {
  text-align: left;
  padding: 1.25rem 4rem;
  position: fixed;
  width: 100vw;
}

nav ul {
  list-style-type: none;
}

h1 {
  font-weight: 800;
  font-size: 3.75em;
  margin-bottom: 0.25em;
}

h2 {
  font-weight: 700;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}

.subtitulo {
  font-weight: 400;
}

.subtitulo, h4, h5 {
  font-weight: 400;
}

#ubicacion h2 {
  margin: 1em auto;
}

.sweet-brown h3, .sweet-brown h5 {
  margin-bottom: 0.5em;
}

#eventos h2 {
  margin-bottom: 1em;
}

#eventos h3 {
  margin: 1em auto;
}

.icono {
  width: 2rem;
}

.icono svg {
  fill: #ffffff;
}

nav ul li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.titulo-articulo {
  text-align: left;
  margin: auto;
  padding-top: 8em;
  padding-bottom: 2em;
  max-width: 50vw;
}

.featured-image {
  max-width: 50vw;
  margin: auto;
  margin-bottom: -60px;
}

.parrafo {
  max-width: 50vw;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  vertical-align: middle;
}

.subtitulo-articulo {
  max-width: 50vw;
  text-align: left;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: -100px;
}
